<!--register pagina-->

<!DOCTYPE html>
<html>
	<div th:replace="fragments/general.html :: head"></div>
	<div th:replace="fragments/general.html :: header"></div>
	
   <h1>register</h1>

    <form th:object="${new_person}" th:action="@{register_post}" method="post">
		
        <label for="username">Name:</label>
        <input th:field="*{username}" type="text" id="username" name="username"><span th:errors="*{username}" /><br>
		
        <label  for="password">password</label>
        <input th:field="*{password}" type="password" id="password" name="password"><span th:errors="*{password}"/><br>
		
        <label  for="voornaam">Vooraam:</label>
        <input th:field="*{voornaam}" type="text" id="voornaam" name="voornaam"><span th:errors="*{voornaam}" /><br>
		
		<label for="achternaam">Achternaam</label>
		<input th:field="*{achternaam}"  type="achternaam" id="achternaam" name="achternaam"><span th:errors="*{achternaam}" /><br> 
		
		<select id="functie" name="functie" th:field="*{functie}">
		  <option value="KLANT">klant</option>
		  <option value="KLUSJESMAN">klusjesman</option>
		</select>
		
		
        <input type="submit" value="Submit">          
      </form > 

<div th:replace="fragments/general :: footer">...</div>
</html>